@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz@9..40&family=Roboto:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@700&family=Flow+Circular&display=swap");

:root {
  --spotify-green: #1db954;
  --footer-height: 40px;
}
html,
body,
* {
  -webkit-app-region: drag;
  cursor: default;
}

body {
  box-sizing: border-box;
  margin: 0;
  overflow-x: hidden;
  max-height: 100vh;
  height: 100vh;
  background-color: #000000;
  font-family: "Gotham SSm A", "Gotham SSm B", "Helvetica Neue", Helvetica,
    Arial, sans-serif;
}
.menu-btn {
  display: none; /* Hide the menu button by default */
  position: absolute;
  top: 20px;
  left: 15px;
  height: 35px;
  font-size: 24px;
  color: #fff;
  cursor: pointer;
  background-color: transparent;
  border-radius: 8px;
  padding-top: 5px;
  padding-inline: 5px;
  border: 1px solid white;
}
.container {
  display: flex;
  flex-direction: row;
  height: calc(94vh - var(--footer-height)) !important;
  width: 100%;
}
.left {
  flex: 1;
  background-color: black;
  position: relative;
  width: 300px;
  left: 0;
  bottom: 0;
  top: 0;
  font-size: 16px;
  font-weight: 500;
  padding: 20px;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}
.left::-webkit-scrollbar {
  display: none;
}
.left .logo {
  position: sticky;
  top: 0;
  z-index: 2;
  background-color: #000000;
  cursor: pointer;
}

.left .logo img {
  width: 130px;
}
.menu {
  display: flex;
  flex-direction: row;
  position: relative;
  margin-top: 50px;
}

.gray-filtered {
  filter: invert(0.5) sepia(50) saturate(0) hue-rotate(0deg);
}

.menu ul {
  width: 100%;
}

.menu ul li img {
  width: 24px;
}
.menu ul li {
  padding: 5px;
}

.menu ul li a {
  text-decoration: none;
  color: gray;
  padding: 10px 0px;
}
.menu ul * {
  cursor: pointer;
}

.menu ul li a span {
  position: relative;
  top: -5px;
  left: 8px;
}
.left .menu .playlist img {
  border-radius: 1px;
  background: #fff;
  width: 23px;
}
.left .menu ul :hover,
.left .menu ul :active,
.left .menu ul :focus {
  color: #cefcf2;
  background-color: #282828;
  border-radius: 5px;
}

.menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.menu li {
  padding-left: 0 !important;
}
.current-song-cover img {
  width: 100%;
  margin-top: 400px;
  margin-bottom: 20px;
  left: 0;
  transition: all ease 0.4s;
}
.current-song-cover img:hover {
  box-shadow: 0 0 3px 1px rgba(240, 240, 235, 0.7);
  cursor: pointer;
  transform: scale(105%);
}
.play {
  color: #b3b3b3;
  font-size: 15px;
  font-weight: 700;
  line-height: 10px; /* 133.333% */
  letter-spacing: 1.2px;
  margin-left: 5px;
  text-transform: uppercase;
}
.right {
  width: 100%;
  overflow-y: auto;
  flex: 4;
}
.right::-webkit-scrollbar {
  display: none;
}

.playlist-header {
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, #90aea7 0%, #2d3634 100%);
}

.playlist-content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.playlist-cover img {
  width: 250px;
  transition: all ease 0.4s;
  cursor: pointer;
}
.playlist-cover :hover {
  transform: scale(105%);
  box-shadow: 0 0 3px 1px rgba(78, 102, 97, 0.7);
  border-radius: 20px;
  margin: 15px;
}
.playlist-info {
  color: #ffffff;
  padding-left: 10px;
}

.playlist-public {
  color: #fff;
  font-size: 13px;
  font-weight: 500;
  letter-spacing: -0.16px;
  margin-left: 5px;
  cursor: pointer;
}
.playlist-title {
  color: #fff;
  font-size: 80px;
  font-weight: 700;
  letter-spacing: -0.16px;
  cursor: pointer;
}

.playlist-description {
  font-size: 14px;
  font-weight: 400;
  margin-top: 10px;
  color: #b6bbba;
  padding-left: 10px;
  cursor: pointer;
}

.playlist-stats img {
  position: relative;
  top: 6px;
  padding-left: 10px;
  cursor: pointer;
  transition: all 0.4 ease;
}
.playlist-stats {
  padding-bottom: 50px;
}
.common:hover {
  transform: scale(105%);
}
.common-1:hover {
  box-shadow: 0 0 3px 1px rgba(240, 240, 235, 0.7);
  margin: 10px;
}
.playlist-info .ime :hover {
  box-shadow: 0 0 3px 1px rgba(240, 240, 235, 0.7);
}

.playlist-stats .name {
  color: #fff;
  font-size: 15px;
  font-weight: 700;
  line-height: 146.9%; /* 22.035px */
  letter-spacing: -0.3px;
  cursor: pointer;
}
.playlist-stats .time {
  color: rgb(199, 200, 201) !important;
  font-size: 12px;
  font-weight: 100;
  letter-spacing: -0.3px;
  cursor: pointer;
}
.playlist-songs-container {
  padding: 20px;
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, #313b3a 8%, #000000 18%, #000000 100%);
}
.playlist-buttons-left,
.playlist-buttons-right {
  display: flex;
  align-items: center;
  justify-content: center;
}
.playlist-buttons-resume-pause {
  background-color: var(--spotify-green);
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  cursor: pointer;
  transition: all 0.1 ease;
}
.playlist-buttons-resume-pause:hover {
  box-shadow: 0 0 2px 2.5px rgba(94, 88, 75, 0.7);
  color: #111;
  background-color: #c7ec81;
  transform: scale(110%);
}
.playlist-buttons-like {
  margin-left: 20px;
}

.playlist-buttons-three-dot {
  margin-left: 20px;
}
.playlist-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.playlist-buttons-order {
  color: #cacaca;
}

.playlist-buttons-order {
  padding-left: 20px;
  transition: all 0.1s ease;
}
.playlist-buttons-order:hover {
  transform: scale(105%);
}
.normal :hover {
  box-shadow: 0 0 3px 1px rgba(240, 240, 235, 0.7);
  cursor: pointer;
}
.playlist-songs {
  margin-top: 30px;
}

.playlist-songs table {
  border-collapse: collapse;
  width: 100%;
}

.playlist-songs table tr td,
.playlist-songs table tr th {
  padding: 10px;
  color: #cacaca;
  transition: all 0.1 ease;
}
.playlist-songs table tr th .clock {
  margin-left: 40px;
}
.playlist-songs table tr .title {
  margin-left: 70px;
  color: #cacaca;
}
.playlist-songs table tr :hover {
  cursor: pointer;
  transform: scale(105%);
}

.playlist-songs table tr th {
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: 200;
  letter-spacing: 2px;
}

.playlist-songs table tr:first-of-type {
  border-bottom: 1px solid #cacaca;
}

.playlist-songs table th {
  text-align: left;
}

.playlist-songs table tr th:first-child {
  width: 2%;
}

.playlist-songs table tr th:nth-child(2) {
  width: 40%;
}

.song-image img {
  width: 40px;
}

.song-title {
  display: flex;
  align-items: center;
  flex-direction: row;
}

.song-name-album {
  padding-left: 15px;
  letter-spacing: 0.5px;
}

.song-name,
.footer-player-left-song-name {
  font-weight: 400;
  font-size: 14px;
  color: white;
}
.song-duration .heart1 {
  width: 22px;
}
.song-duration {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.song-artist,
.song-album,
.song-date-added,
.player-time,
.song-duration {
  font-size: 12px;
  margin-top: 6px;
  color: #898989 !important;
}

.music-player {
  --primary-color: #ddd;
  --secondary-color: #999;
  --green-color: #2d5;
  --padding: 1em;
  background-color: #181818;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 10px; /* Position the music player at the top */
  left: 0; /* Align the music player to the left */
  width: 100%; /* Make the music player take the full width of the viewport */
  height: 4.8rem;
  color: var(--primary-color);
}
i {
  color: var(--secondary-color);
}
i:hover {
  color: var(--primary-color);
}
.song-bar {
  position: absolute;
  left: var(--padding);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 1.5rem;
  width: 25%;
}

.song-infos {
  display: flex;
  align-items: center;
  gap: 1em;
  transition: all 0.1 ease;
}
.image-container {
  --size: 3em;
  flex-shrink: 0;
  width: var(--size);
  height: var(--size);
}
.image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.song-description p {
  margin: 0em;
}
.title,
.artist {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.title:hover,
.artist:hover {
  text-decoration: underline;
  color: var(--primary-color);
  cursor: pointer;
}
.image-container:hover {
  box-shadow: 0 0 5px 3px rgba(240, 240, 235, 0.7);
  cursor: pointer;
  transform: scale(110%);
}
.icons:hover {
  box-shadow: 0 0 5px 3px rgba(240, 240, 235, 0.7);
  cursor: pointer;
}
.artist {
  color: var(--secondary-color);
}
.icons {
  display: flex;
  gap: 1em;
}
.icons img {
  width: 30px;
}
.progress-controller {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 0.3em;
  color: var(--secondary-color);
  cursor: pointer;
  padding-bottom: 5px;
}
.control-buttons {
  display: flex;
  align-items: center;
  gap: 2em;
}
.control-buttons i:hover {
  box-shadow: 0 0 3px 2px rgba(172, 172, 169, 0.7);
  cursor: pointer;
}
.play-pause {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--spotify-green);
  color: #fffbfb;
  border-radius: 50%;
  padding: 10px;
  position: relative;
}

.play-pause:hover {
  transform: scale(1.1);
  box-shadow: 0 0 3px 8px rgba(160, 160, 116, 0.7);
}
.progress-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1em;
}
.progress-bar {
  height: 4px;
  border-radius: 10px;
  width: 30%;
  background-color: #ccc4;
}
.progress {
  position: relative;
  height: 100%;
  width: 75%;
  border-radius: 10px;
  background-color: var(--secondary-color);
  cursor: pointer;
}
.progress-bar:hover .progress {
  background-color: var(--green-color);
}
.progress-bar:hover .progress::after {
  content: "";
  position: absolute;
  --size: 1em;
  width: var(--size);
  height: var(--size);
  right: 0;
  border-radius: 50%;
  background-color: var(--primary-color);
  transform: translate(50%, calc(2px - 50%));
}
.expand-btn {
  display: none;
}
.expanded-content {
  position: absolute;
  right: var(--padding);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  gap: 1em;
}
.volume-bar {
  display: flex;
  align-items: center;
  gap: 0.7em;
}
.expanded-item img:hover {
  box-shadow: 0 0 3px 3px rgba(131, 131, 128, 0.7);
  cursor: pointer;
}
.volume-bar .progress-bar {
  width: 6em;
}
.volume-bar .progress-bar:hover .progress::after {
  --size: 0.8em;
}

@media (min-width: 768px) and (max-width: 1199px) {
  .left {
    display: none;
    flex: 2;
    box-sizing: border-box;
    left: 0;
    top: 0;
    overflow-x: hidden;
    
  }
  .menu-btn {
    display: block;
  }
  .left.show {
    display: block;
  }
  .right {
    flex: 4;
  }
  .playlist-cover img {
    margin-left: 20px;
  }
  .playlist-info {
    align-items: left;
  }
  .playlist-title {
    font-size: 60px;
    font-weight: bold;
    letter-spacing: -0.08px;
  }
  .playlist-description {
    font-size: 15px;
    font-weight: 600;
  }
  .playlist-stats {
    padding-bottom: 70px;
  }
  .playlist-stats img {
    width: 25px;
    height: 25px;
  }
  .playlist-stats .name {
    font-size: 15px;
    font-weight: 500;
    white-space: nowrap;
  }
  .playlist-stats .time {
    font-size: 15px;
    font-weight: 100;
    white-space: nowrap;
  }
  .playlist-songs-container {
    height: 100vh;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, #313b3a 5%, #000000 18%, #000000 100%);
  }
  .music-player {
    bottom: 0px;
  }
  .expand-btn {
    display: block;
    position: absolute;
    right: var(--padding);
    background: none;
    border: none;
    color: var(--secondary-color);
    cursor: pointer;
    font-size: 24px;
  }
  .expand-btn:hover {
    color: var(--primary-color);
  }
  .expanded-content {
    display: none;
    position: absolute;
    right: var(--padding);
    background-color: #181818;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
    width: 100px;
    bottom: 40px;
  }
  .expanded-content.show {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .expanded-item {
    margin-top: 10px;
  }
}

@media screen and (max-width: 767px) {
  .left {
    display: none;
    flex: 1.5;
    box-sizing: border-box;
    left: 0;
    top: 0;
    overflow-x: hidden;
  }

  .menu-btn {
    display: block;
  }
  .left.show {
    display: block;
  }
  .menu {
    margin-top: 20px;
    -webkit-user-drag: none;
    user-zoom: none;
  }
  .left .menu ul li a {
    font-size: 15px;
    font-weight: 200;
    line-height: 15px;
    letter-spacing: -0.0525em;
  }
  .left .menu ul li a img {
    width: 18px;
  }
  .left .logo {
    width: 50%;
  }
  .right {
    flex: 2;
  }
  .playlist-content {
    flex-direction: column;
    align-items: center;
    margin: 0px;
  }
  .playlist-cover img {
    width: 180px;
  }
  .playlist-info {
    align-items: left;
  }
  .playlist-public {
    margin-left: 13px;
  }
  .playlist-title {
    font-size: 40px;
    font-weight: bold;
    letter-spacing: -0.08px;
    margin-left: 10px;
  }

  .playlist-description {
    font-size: 12px;
    font-weight: 400;
  }
  .playlist-stats {
    padding-bottom: 20px;
  }
  .playlist-stats img {
    width: 15px;
    height: 15px;
  }
  .playlist-stats .name {
    font-size: 11px;
    font-weight: 500;
    white-space: nowrap;
  }
  .playlist-stats .time {
    font-size: 10px;
    font-weight: 100;
    white-space: nowrap;
  }
  .playlist-songs-container {
    flex-wrap: wrap;
    height: 100vh;
    background: rgb(255, 255, 255);
    background: linear-gradient(180deg, #313b3a 4%, #000000 18%, #000000 100%);
  }
  .playlist-buttons-left,
  .playlist-buttons-right {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .playlist-buttons-resume-pause {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-top: 10px;
  }
  .playlist-buttons-like img {
    width: 30px;
    height: 30px;
    margin-top: 10px;
  }
  .playlist-buttons-three-dot img {
    width: 20px;
    height: 30px;
    margin-top: 10px;
  }
  .playlist-buttons-right {
    display: none;
  }

  .playlist-songs {
    margin-top: 20px;
  }
  .playlist-songs table tr th .clock {
    margin-left: 10px;
  }
  .playlist-songs table tr .title {
    margin-left: 5px;
    margin-top: 8px;
  }

  .playlist-songs table tr th {
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 1px;
  }
  .playlist-songs table tr th:first-child {
    width: 1%;
  }

  .playlist-songs table tr th:nth-child(2) {
    width: 20%;
  }

  .song-image img {
    width: 25px;
  }

  .song-name-album {
    padding-left: 10px;
    letter-spacing: 0.3px;
  }
  .song-name,
  .footer-player-left-song-name {
    font-weight: 300;
    font-size: 10px;
  }
  .song-duration .heart1 {
    width: 15px;
  }
  .song-artist,
  .song-album,
  .song-date-added,
  .player-time,
  .song-duration {
    font-size: 8px;
    margin-top: 4px;
    color: #898989 !important;
  }

  .music-player {
    margin-top: 0px;
    height: auto;
    width: 100%;
    bottom: 0px;
  }
  .song-bar {
    gap: 0.5rem;
    width: 15%;
    left: 5px;
  }
  .song-infos {
    gap: 0.1em;
  }
  .image-container {
    --size: 1.5em;
    flex-shrink: 0;
    width: var(--size);
    height: var(--size);
  }
  .image-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .song-description p {
    margin: 0em;
  }
  .title,
  .artist {
    font-size: 8px;
    font-weight: 100;
  }
  .icons {
    gap: 0.1em;
  }
  .icons img {
    width: 15px;
  }

  .progress-controller {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 0.2em;
    color: var(--secondary-color);
    cursor: pointer;
    padding-bottom: 5px;
    margin-left: 40px;
    bottom: 0px;
  }
  .control-buttons {
    display: flex;
    align-items: center;
    gap: 1em;
    margin-top: 4px;
  }
  .control-buttons i {
    width: 7px;
    height: 7px;
  }
  .play-pause {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    padding-left: 5px;
    padding-right: 9px;
    padding-top: 5px;
    padding-bottom: 13px;
    margin-top: 5px;
    width: 20px;
  }
  .progress-container {
    width: 150%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.3em;
  }
  .progress-bar {
    width: 17%;
  }
  .expand-btn {
    display: block;
    position: absolute;
    right: var(--padding);
    background: none;
    border: none;
    color: var(--secondary-color);
    cursor: pointer;
    font-size: 24px;
  }
  .expand-btn:hover {
    color: var(--primary-color);
  }
  .expanded-content {
    border-radius: 5px;
    padding: 10px;
    z-index: 1;
    width: 100px;
    bottom: 40px;
    display: none;
  }
  .expanded-content.show {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }
  .expanded-item {
    margin-top: 10px;
  }
}